body{
    background-color:#163a24;
}
.items{
    width:100px;
    height:100px;
    background-color: blue;
    margin:5px;
    margin-left:20px
}
.logo{
   font-size: 48px;
   font-weight: bold;
}
.container{
    display:flex;
    /* flex-direction: column; */
    justify-content:space-between;
    margin-left:100px;
    margin-right:100px;
    
}
.links{
    display:flex;
    gap:50px;
    align-items: center;
    color:white;
}
.btn{
    background-color: #15762e;
    padding-left:25px;
    padding-right:25px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 50px;
    color:white;
}